.todoDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* height: 100%; */
    margin: 0% 5%;
}
h1#todoDetail-title {
    text-align: center;
}
.todoDetail-contenedorFotoTexto {
    display: flex;
    flex-direction: row;
    gap: 10%;
}
.todoDetail-contenedorFoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 0px;
    flex-basis: 45%;
}
img.todoDetail-img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
}
.todoDetail-contenedorexto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 5%;
    margin: 10px 0px;
    flex-basis: 45%;
    background: #ffffff7d;
}
.todoDetail-contenedorexto-precio {
    font-size: 22px;
    margin: 20px 0;
}
.todoDetail-contenedorexto-descripcion-corto{
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;

    text-overflow: ellipsis;
}
.todoDetail-contenedorexto-descripcion-largo{
    height: auto;
}
#texto-verMas{
    text-decoration: underline;
    text-align: end;
    width: 100%;
    display: inline-block;
}
.count-contenedor{
    height: 66px;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        gap: 10px;
        flex-grow: 1;
}
.count-contenedor div {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin: 10px 0; */
    gap: 15%;
    justify-content: center;
}
.count-contenedor p{
    font-size: 23px;
}
.count-contenedor-masMenos{
    display: flex;
    align-items: center;
    border: none;
    background: #00ffff00;
}
.count-contenedor-masMenos svg{
    color: #6ab5b7;
    width: 1.3em;
    height: 1.3em;
}
.count-contenedor-botonAgregarCarrito {
    border-radius: 356px;
    border: 1px solid #00000026;
    background: #ffd07c;
    box-shadow: 0 0 5px 1px #5555552e;
    padding: 0.3em 0.7em;
}
.detail-link-finalizarCompra{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    flex-grow: 1;
}


button.todoDetail-contenedor-botonComprar {
    border-radius: 356px;
    border: 1px solid #00000026;
    background-color: #61e1e6;
    box-shadow: 0 0 5px 1px #5555552e;
    padding: 0.3em 0.7em;
}

@media screen and (min-width: 1px)and (max-width: 768px) {
    .todoDetail-contenedorFotoTexto {
        flex-direction: column;
    }
    .todoDetail-contenedorFoto {
        flex-basis: auto;
    }
    .todoDetail-contenedorexto {
        flex-basis: auto;
        padding: 0;
    }

}