/* header{
    background-color: #ff5050;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    border-bottom: 2px solid black;
} */
header {
    background-color: #72d1d4 ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* height: 100px; */
    /* border-bottom: 2px solid black; */
    box-shadow: 0px 2px 6px 1px #00000017;
    border-bottom: 1px solid #00000021;
}
div#nombreLogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: min-content;
}
div#cartOrdenes{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: min-content;
}
header #nav-titulo{
    font-size: 26px;
    text-align: center;
}
header #nombreLogo svg{
    width: 50px;
    height: 50px;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
header a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 500;
}
.nav-category{
    text-transform: capitalize;
}
header #nombreLogo a:hover, .nav-category:hover, #cartwidget:hover, #ordenes-nav:hover {
    background-color: #ffd07c;
    color: black;
}
header a:active{
    color: rgb(10, 109, 255);
}
#cartwidget{
    position: relative;
    padding: 2px;
}
#cartwidget svg{
    font-size: 51px;
}
#cartwidget #nav-cart-textoCantItems{
    position: absolute;
    top: 0;
    right: 0;
    color: #000000;
    background: rgb(255 239 156);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50% 50%;
    width: 19px;
    height: 19px;
    /* font-family: monospace; */
    padding: 0.9em;
}


/* ---------------------- tablet -------------------- */ 
@media only screen and (min-width: 0px) and (max-width: 767px){
    header{
        /* flex-direction: column; */
        height: auto;
    }

    header nav{
        gap: 0;
        flex-direction: column;

    }
    header img{
        width: 55px;
        height: 55px;
    }

}
@media only screen and (min-width: 0px) and (max-width: 410px){
    div#cartOrdenes {
        flex-direction: column;
        gap: 0px;
    }
    div#nombreLogo {
        flex-direction: column-reverse;
    }
    header #nav-titulo {
        font-size: 16px;
    }
    header img{
        width: 45px;
        height: 45px;
    }
}