.contenedor-noHayProductos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor-noHayProductos button{
    border-radius: 354px;
    background: rgb(106 181 183);
    color: white;
    font-size: 14px;
    border: 1px solid #0000006b;
    margin: 10px 0px;
    padding: 0.2em 0.8em;
}
#no-hayProductos{
    text-align: center;
}
#cart-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0px;
    width: 100%;
    justify-content: flex-start;
    padding: 2% 0;
}
.cart-productos {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border-bottom: 1px solid black; */
    width: 60%;
    justify-content: space-between;
    box-shadow: 0px 0px 9px 1px #00000021;
    margin: 10px 0px;
    min-width: 0px;
    background: white;
    gap: 10px;
    padding: 0 0 0 1%;
}

.cart-productos-title {
    flex-basis: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
.cart-productos-btn {
    background-color: #6ab5b7;
    height: 100%;
    width: 30px;
    color: white;
}
#cart-precioTotal{
        background: white;
    /* border: 1px solid black; */
}
#cart-btn-vaciarCart {
    border-radius: 354px;
    background: rgb(106 181 183);
    color: white;
    font-size: 14px;
    border: 1px solid #0000006b;
    margin: 10px 0px;
    padding: 0.2em 0.8em;
}
@media only screen and (min-width: 0px) and (max-width: 767px){
    .cart-productos{
        width: 95vw;
    }
}